extends layout

block content
  .container
    .row
      .span5
        if user
          .welcome-message
            h4
              | Welcome, 
              strong #{user.firstName}
        h1= pageHeader.title
        h3 #{pageHeader.time} - #{pageHeader.distance} - #{pageHeader.type}
        if sidebar
          p= sidebar

    // Angular component will render the odds list
    .row
      .span12
        app-home-list Loading…

        script.
        window.currentUserName = !{JSON.stringify(user ? user.firstName : 'Guest')};

block scripts
  script(type='module', src='/build/polyfills-5CFQRCPP.js')
  script(type='module', src='/build/main-7KLM6ZOR.js')
