extends layout

block content
  .container
    .row
      .span5
        if user
          .welcome-message
            h4
              | Welcome, 
              strong #{user.firstName}
        h1= pageHeader.title
        h3 #{pageHeader.time} - #{pageHeader.distance} - #{pageHeader.type}
        if sidebar
          p= sidebar

    if locations && locations.length
      each race in locations
        each horse, index in race.horses
          .row
            .span5
              h3 #{index + 1} #{horse.name}
              table.table.table-striped.table-condensed
                thead
                  tr
                    th Market
                    th Boylesports
                    th Paddy Power
                    th Bet365
                    th Best
                tbody
                  each market in horse.markets
                    tr
                      td= market.type
                      td= (market.odds && (market.odds['Boylesports'] || market.odds.Boylesports)) || '-'
                      td= (market.odds && (market.odds['Paddy Power'] || market.odds['PaddyPower'] || market.odds.PaddyPower)) || '-'
                      td= (market.odds && (market.odds['Bet365'] || market.odds.Bet365)) || '-'
                      td
                        span.label.label-success= market.best || '-'
